.header {
  background-color: #11698E;
  color: #F8F1F1;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerTitle {
  font-size: x-large;
  font-weight: bold;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid #F8F1F1;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn1 {
  background-color: #F8F1F1;
  color: #11698E;
  font-weight: 500;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 9999px;
  font-weight: 700;
}

.headerBtn1:hover{
  scale: 1.1;
  transition: all ease-in-out 250ms;
}

.headerBtn2 {
  background-color: #11698E;
  color: #F8F1F1;
  font-weight: 500;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 9999px;
  font-size: medium;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  left: 25%;
  width: 50%;
  max-width: 1024px;
}

.headerIcon {
  color: #11698E;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  width: 20rem;
  color: black;
}

.headerSearchText {
  color: black;
  cursor: pointer;
}

@media (max-width: 768px) {
  .headerSearchInput {
    width: 8rem;
  }
  
  .headerSearch {
    width: 85%;
    left: 0px;
    margin-left: 20px;
  }

  .headerContainer {
    margin: 20px 20px 100px 20px;
  }

  .headerTitle {
    font-size: medium;
  }
   .headerDesc {
    font-size: small;
   }
}

@media ((min-width:768px) and (max-width: 976px)) {
  .headerSearchInput {
    width: 15rem;
  }

  .headerContainer {
    margin: 20px 30px 100px 30px;
  }

  .header {
    width: 98%;
    margin: auto;
  }
}